.elementor-2393 .elementor-element.elementor-element-f613d5d > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-2393 .elementor-element.elementor-element-f613d5d {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 7px 0px 7px 0px;
}

.elementor-2393 .elementor-element.elementor-element-717f904 > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2393 .elementor-element.elementor-element-664467d {
	text-align: left;
}

.elementor-2393 .elementor-element.elementor-element-664467d .elementor-image img {
	width: 75%;
}

.elementor-2393 .elementor-element.elementor-element-1e9a9c3 > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-menu-toggle {
	margin: 0 auto;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu .elementor-item {
	font-family: "Montserrat", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	line-height: 24px;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item {
	color: #333333;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item:hover, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item:focus {
	color: #ED3542;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: #ED3542;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown a:hover, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown a.highlighted {
	background-color: #2176AA;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown a.elementor-item-active {
	background-color: #2176AA;
}

.elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown .elementor-item, .elementor-2393 .elementor-element.elementor-element-c6e09d6 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Montserrat", Sans-serif;
	text-decoration: none;
}

.elementor-2393 .elementor-element.elementor-element-fcb207e > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2393 .elementor-element.elementor-element-869df23 {
	text-align: center;
}

.elementor-2393 .elementor-element.elementor-element-869df23 .elementor-heading-title {
	color: #2B2A2A;
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
}

.elementor-2393 .elementor-element.elementor-element-83c904d {
	text-align: center;
}

.elementor-2393 .elementor-element.elementor-element-83c904d .elementor-heading-title {
	color: #2B2A2A;
	font-family: "Montserrat", Sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.elementor-2393 .elementor-element.elementor-element-83c904d > .elementor-widget-container {
	margin: -16px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2393 .elementor-element.elementor-element-e59dc14 {
	text-align: center;
}

.elementor-2393 .elementor-element.elementor-element-e59dc14 .elementor-heading-title {
	color: #2B2A2A;
	font-family: "Montserrat", Sans-serif;
	font-size: 8px;
	font-weight: 700;
	line-height: 10px;
}

.elementor-2393 .elementor-element.elementor-element-e59dc14 > .elementor-widget-container {
	margin: -18px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media (min-width: 768px) {
	.elementor-2393 .elementor-element.elementor-element-717f904 {
		width: 15%;
	}

	.elementor-2393 .elementor-element.elementor-element-1e9a9c3 {
		width: 59.703%;
	}

	.elementor-2393 .elementor-element.elementor-element-fcb207e {
		width: 24.961%;
	}
}
