.elementor-2718 .elementor-element.elementor-element-6788f32 {
	margin-top: -20px;
	margin-bottom: -20px;
	padding: 0px 0px 0px 0px;
}

.elementor-2718 .elementor-element.elementor-element-9468b89.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-2718 .elementor-element.elementor-element-9468b89 > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-2718 .elementor-element.elementor-element-d22bac5 .elementor-menu-toggle {
	margin: 0 auto;
}

.elementor-2718 .elementor-element.elementor-element-d22bac5 .elementor-nav-menu--main .elementor-item {
	color: #777777;
}

.elementor-2718 .elementor-element.elementor-element-d22bac5 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* Start custom CSS for nav-menu, class: .elementor-element-d22bac5 */

.elementor-2718 .elementor-element.elementor-element-d22bac5
{
	margin: 0 auto;
}
/* End custom CSS */
